
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPurchaseOrderLabel" data-translate="epurchaseApp.purchaseOrder.home.createOrEditLabel">Create or edit a Purchase Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.purchaseOrder.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.purchaseOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.poNumber" for="field_poNumber">Po Number</label>
            <input type="text" class="form-control" name="poNumber" id="field_poNumber"
                    ng-model="vm.purchaseOrder.poNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.poDate" for="field_poDate">Po Date</label>
            <input type="number" class="form-control" name="poDate" id="field_poDate"
                    ng-model="vm.purchaseOrder.poDate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.devAddress" for="field_devAddress">Dev Address</label>
            <input type="text" class="form-control" name="devAddress" id="field_devAddress"
                    ng-model="vm.purchaseOrder.devAddress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.billAddress" for="field_billAddress">Bill Address</label>
            <input type="text" class="form-control" name="billAddress" id="field_billAddress"
                    ng-model="vm.purchaseOrder.billAddress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.vendorAddress" for="field_vendorAddress">Vendor Address</label>
            <input type="text" class="form-control" name="vendorAddress" id="field_vendorAddress"
                    ng-model="vm.purchaseOrder.vendorAddress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.particulars" for="field_particulars">Particulars</label>
            <input type="text" class="form-control" name="particulars" id="field_particulars"
                    ng-model="vm.purchaseOrder.particulars"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.purchaseOrder.quantity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.unitPrice" for="field_unitPrice">Unit Price</label>
            <input type="number" class="form-control" name="unitPrice" id="field_unitPrice"
                    ng-model="vm.purchaseOrder.unitPrice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.totalPrice" for="field_totalPrice">Total Price</label>
            <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                    ng-model="vm.purchaseOrder.totalPrice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.esicDeduction" for="field_esicDeduction">Esic Deduction</label>
            <input type="number" class="form-control" name="esicDeduction" id="field_esicDeduction"
                    ng-model="vm.purchaseOrder.esicDeduction"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="epurchaseApp.purchaseOrder.grandTotal" for="field_grandTotal">Grand Total</label>
            <input type="number" class="form-control" name="grandTotal" id="field_grandTotal"
                    ng-model="vm.purchaseOrder.grandTotal"
                     />
        </div>

        <div class="form-group">
            <label data-translate="epurchaseApp.purchaseOrder.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" ng-model="vm.purchaseOrder.departmentId" ng-options="department.id as department.id for department in vm.departments"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
